﻿@using Microsoft.AspNet.Identity
@using WebAppMvc.Controllers
@model IQueryable<WebAppMvc.UsersHasFriend>

@{
    string currentUserId = SessionUser.GetValueSessionKey(Session, SessionUser.GetSessionKey(SessionUser.SessionKey.SessionUserKey));
    string href_Friend = string.Empty;
    int countFriends = 0;
    int newMessages = 0;
}

<div id="idMyFriendsPartial">
    @if (Request.IsAuthenticated && !string.IsNullOrWhiteSpace(currentUserId))
    {
        if ((Model != null) && (Model.FirstOrDefault() != null))
        {
            foreach (UsersHasFriend friend in Model.Where(usr => usr.FriendsId == usr.UserId + "_" + currentUserId))
            {

                newMessages = friend.Messages.Where(msg => !msg.MsgRead).Count();


                using (Html.BeginForm("_FriendsPartial", "Home", new { @class = "form-horizontal", role = "form", id = "id_" + friend.AspNetUser.Id }))
                {

                    @Html.AntiForgeryToken()

                    <div style="margin-bottom: 5px; margin-top: 5px; font-size: 16px">

                        <div class="col-md-offset-0">
                            <div style="padding-right: 0; padding-left: 0; margin-right: 1px; font-size: 16px" class="col-md-11">
                                @*@Html.ActionLink(@friend.AspNetUser.AdditionalUserInfo.UserLastName + " " +
                                        @friend.AspNetUser.AdditionalUserInfo.UserFirstName,
                                    "_MessagesPartial", "Home",
                                    new { @friend.AspNetUser.Id },
                                    new
                                    {
                                        @class = "btn btn-link",
                                        title = "Наши сообщения",
                                        style = "padding-left: 2px; padding-top: 0px; padding-bottom: 0px"
                                    })*@
                                @{
                                    href_Friend = "javascript: updateControlAjaxGET('#idFriendsMessages', '/Home/_MessagesPartial'," +
                                        "{id:'" + friend.AspNetUser.Id + "'}, funcUpdMessages);";
                                }
                                <a href="@href_Friend" title="Наши сообщения" class="btn btn-link" style="padding-left: 2px; padding-top: 0px; padding-bottom: 0px">
                                    @friend.AspNetUser.AdditionalUserInfo.UserLastName&nbsp;@friend.AspNetUser.AdditionalUserInfo.UserFirstName
                                </a>
                            </div>

                            <input id="idBtnRemoveFriend" type="submit" value="X"
                                   title="Удалить из друзей (вся переписка с другом будет удалена)" class="btn btn-xs btn-danger" />
                        </div>

                        @if (newMessages != 0)
                        {
                            <span style="font-size: 0.65em; background-color: #e2e2e2; border-radius: 4px" class="img-responsive">
                                (Новых сообщений - @newMessages)
                            </span>
                        }
                    </div>
                }

                ++countFriends;
            }

            if (countFriends == 0)
            {
                <h4>&nbsp;</h4>
            }
        }
        else
        {
            <h4>&nbsp;</h4>
        }
    }
    else
    {
        <p>Для просмотра своих друзей Вы должны предварительно авторизоваться.</p>
    }
</div>
