﻿@using Microsoft.AspNet.Identity
@using WebAppMvc.Controllers
@model IQueryable<WebAppMvc.Message>

@{
    string currentUserId = SessionUser.GetValueSessionKey(Session, SessionUser.GetSessionKey(SessionUser.SessionKey.SessionUserKey));
    string currentFriendId = SessionUser.GetValueSessionKey(Session, SessionUser.GetSessionKey(SessionUser.SessionKey.SessionFriendKey));
    int countMessages = 0;
    string clickBtnUpdate = string.Empty;
}

<div id="idFriendsMessagesPartial">
    @if (Request.IsAuthenticated && !string.IsNullOrWhiteSpace(currentUserId) &&
        !string.IsNullOrWhiteSpace(currentFriendId))
    {
        if (Model != null)
        {
            if (Model.FirstOrDefault() != null)
            {
                <div id="idMessages">
                    @foreach (Message message in Model.Where(msg =>
                    ((msg.FriendsId.Substring(0, 36) == currentUserId && msg.FriendsId.Substring(37) == currentFriendId) ||
                    (msg.FriendsId.Substring(37) == currentUserId && msg.FriendsId.Substring(0, 36) == currentFriendId))).OrderBy(msg => msg.DateSent))
                    {
                        <div style="text-align: left; border: 1px solid #82b4d8; border-radius: 5px; margin-top: 5px; margin-bottom: 5px">
                            <div style="background-color: #e2e2e2">
                                <div>
                                    <b>
                                        &nbsp;
                                        @message.UsersHasFriend.AspNetUser.AdditionalUserInfo.UserLastName&nbsp;
                                        @message.UsersHasFriend.AspNetUser.AdditionalUserInfo.UserFirstName
                                    </b>
                                </div>
                                <div style="text-align: right">
                                    @message.DateSent.ToShortDateString()&nbsp;
                                    @message.DateSent.ToLongTimeString()&nbsp;&nbsp;
                                </div>
                            </div>
                            <hr style="text-align: center; border-color: #82b4d8; width: 100%; margin: 0" />
                            <p style="margin: 5px">
                                @message.Msg
                            </p>
                        </div>
                        ++countMessages;
                    }
                </div>

            }

            if (countMessages == 0)
            {
                <p style="text-align: left; text-indent: 20px">Отправьте новое сообщение.</p>
            }

            if (!string.IsNullOrWhiteSpace(currentFriendId))
            {

                <section id="updateForm">

                    @*@using (Html.BeginForm("_MessagesPartial", "Home", new { @class = "form-horizontal", role = "form", id = "idFrmUpdate" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-group">
                                    <div class="col-md-1 col-md-1">
                                        <input id="idBtnUpdate" type="submit" value="Обновить" title="Новые сообщения от моего друга" class="btn btn-default" />
                                    </div>
                                </div>
                            }
                        <br />*@


                    @{
                        clickBtnUpdate = "updateControlAjaxGET('#idFriendsMessages', '/Home/_MessagesPartial'," +
                            "{id:'" + currentFriendId + "'}, funcUpdMessages)";
                    }

                    <br />
                    <div class="col-md-1 col-md-1">
                        <input id="idBtnUpdate" type="button" value="Обновить" title="Новые сообщения моего друга" class="btn btn-default"
                               onclick="@clickBtnUpdate" />
                    </div>
                    <br />

                </section>

            }

            @Html.Partial("_SentMessagePartial", new WebAppMvc.Models.SentMessageViewModel() { UserMessage = string.Empty })

        }
        else
        {
            <h4>&nbsp;</h4>
        }
    }
    else
    {
        <h4>&nbsp;</h4>
    }
</div>
