﻿@using Microsoft.AspNet.Identity
@using WebAppMvc.Controllers
@model IQueryable<WebAppMvc.AspNetUser>

@{
    string currentUserId = SessionUser.GetValueSessionKey(Session, SessionUser.GetSessionKey(SessionUser.SessionKey.SessionUserKey));
    string currentSearch = SessionUser.GetValueSessionKey(Session, SessionUser.GetSessionKey(SessionUser.SessionKey.SessionSearchKey));
}

<div id="idFindPeople">
    @if ((Request.IsAuthenticated) && !string.IsNullOrWhiteSpace(currentUserId) &&
        !string.IsNullOrWhiteSpace(currentSearch))
    {
        if ((Model != null) && (Model.FirstOrDefault() != null))
        {
            string[] arraySubstrForSearch = currentSearch.Split(Convert.ToChar(32));
            if (arraySubstrForSearch.Length > 0)
            {
                for (int i = 0; i < arraySubstrForSearch.Length; ++i)
                {
                    arraySubstrForSearch[i] = arraySubstrForSearch[i].ToLower();
                }
                foreach (AspNetUser user in Model)
                {
                    foreach (string strSearch in arraySubstrForSearch)
                    {
                        if ((user.AdditionalUserInfo.UserLastName.ToLower().IndexOf(strSearch) != -1) ||
                            (user.AdditionalUserInfo.UserFirstName.ToLower().IndexOf(strSearch) != -1))
                        {
                            if (user.Id == currentUserId)
                            {
                                <h4 style="font-size: 16px">
                                    @user.AdditionalUserInfo.UserLastName&nbsp;@user.AdditionalUserInfo.UserFirstName<br />
                                    <span style="font-size: 0.65em; background-color: #e2e2e2; border-radius: 4px" class="img-responsive">
                                        (Вы вошли как этот пользователь)
                                    </span>
                                </h4>
                            }
                            else
                            {
                                if (user.UsersHasFriends.Where(usr => usr.FriendsId == usr.UserId + "_" + currentUserId).Count() > 0)
                                {
                                    <h4 style="font-size: 16px">
                                        @user.AdditionalUserInfo.UserLastName&nbsp;@user.AdditionalUserInfo.UserFirstName<br />
                                        <span style="font-size: 0.65em; background-color: #e2e2e2; border-radius: 4px" class="img-responsive">
                                            (Добавлен к вашим друзьям)
                                        </span>
                                    </h4>
                                }
                                else
                                {
                                    <h4 style="font-size: 16px">
                                        @Html.ActionLink(@user.AdditionalUserInfo.UserLastName + " " + @user.AdditionalUserInfo.UserFirstName,
                                    "_PeoplePartial", "Home",
                                    new { @user.Id },
                                    new
                                    {
                                        @class = "btn btn-link",
                                        title = "Добавить в друзья",
                                        style = "padding-left: 2px; padding-top: 0px; padding-bottom: 0px"
                                    })
                                    </h4>
                                }
                            }
                            break;
                        }
                    }
                }
            }
        }
        else
        {
            <h4>&nbsp;</h4>
        }
    }
    else
    {
        <h4>&nbsp;</h4>
    }
</div>