﻿@using Microsoft.AspNet.Identity
@using WebAppMvc.Controllers
@model WebAppMvc.Models.FindPeopleViewModel

@{
    string currentUserId = SessionUser.GetValueSessionKey(Session, SessionUser.GetSessionKey(SessionUser.SessionKey.SessionUserKey));
    string clickBtnSearch = string.Empty;
}

@if ((Request.IsAuthenticated) && !string.IsNullOrWhiteSpace(currentUserId))
{

    <section id="findForm">

        @using (Html.BeginForm("_SearchPartial", "Home", new { @class = "form-horizontal", role = "form", id = "idFrmFindPeople" }))
            {

                @Html.AntiForgeryToken()

                <div class="form-group">

                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.SearchPeople, new
                        {
                            @class = "form-control",
                            title = "Укажите Фимилию и(или) Имя человека чтобы его найти",
                            id = "idTxtBoxFindPeople"
                        })
                        @Html.ValidationMessageFor(m => m.SearchPeople)
                    </div>
                    <div class="col-md-4 col-md-4">
                        <input id="idBtnFindPeople" type="submit" value="Поиск" title="Найти людей" class="btn btn-info" />
                    </div>
                </div>

            }


</section>

}
else
{
<h4>&nbsp;</h4>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">

    if (exists_jQuery) {
        $(document).ready(function () {
            setValidateMaxLengthTxt('#idBtnFindPeople', '#idTxtBoxFindPeople', 50, 'Поиск');
        })
    }
    else {
        alert("jQuery не доступен ('jQuery' - определение отсутствует)");
    }

</script>
