﻿@using Microsoft.AspNet.Identity
@using WebAppMvc.Controllers
@model WebAppMvc.Models.SentMessageViewModel

@{
    string currentUserId = SessionUser.GetValueSessionKey(Session, SessionUser.GetSessionKey(SessionUser.SessionKey.SessionUserKey));
    string clickBtnSent = string.Empty;
}

@if ((Request.IsAuthenticated) && !string.IsNullOrWhiteSpace(currentUserId))
{

    <section id="sentMessageForm">
        <hr style="border-color: #82b4d8; width: 100%; margin-bottom: 10px" />

        @*@using (Html.BeginForm("_SentMessagePartial", "Home", new { @class = "form-horizontal", role = "form", id = "idFrmSentMessage" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(m => m.UserMessage, new { @class = "col-md-4 control-label" })
                    <div class="col-md-offset-9 col-md-0">
                        <input id="idBtnSentMessage" type="submit" value="Отправить" title="Отправить сообщение" class="btn btn-default" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextAreaFor(m => m.UserMessage, 3, 62, new
                        {
                            @class = "form-control",
                            style = "min-width: 516px",
                            id = "idTxtAreaSentMessage"
                        })
                        @Html.ValidationMessageFor(m => m.UserMessage)
                    </div>
                </div>
            }*@

        @{
            clickBtnSent = "if(validateMaxLengthTxt('#idTxtAreaSentMessage', 256, 'Новое сообщение'))" +
                "{updateControlAjaxGET('#idFriendsMessages', '/Home/_SentMessagePartial'," +
                        "extractValueById('#idTxtAreaSentMessage'), funcUpdMessages)}";
        }

        <div class="form-group">
            @Html.LabelFor(m => m.UserMessage, new { @class = "col-md-4 control-label" })
            <div class="col-md-offset-9 col-md-0">
                <input id="idBtnSentMessage" type="button" value="Отправить" title="Отправить сообщение" class="btn btn-default"
                       onclick="@clickBtnSent" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.TextAreaFor(m => m.UserMessage, 3, 62, new
                        {
                            @class = "form-control",
                            style = "min-width: 516px",
                            id = "idTxtAreaSentMessage"
                        })
            </div>
        </div>

    </section>

}
else
{
    <h4>&nbsp;</h4>
}
    
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

