﻿@{
    ViewBag.Title = "О сайте";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br />
<p>
    Сайт разработан как тестовое задание разработчика ASP.Net MVC5<br />
    и представляет собой небольшую социальную сеть.
</p>
<br />
<p>
    Для доступа к сайту требуется авторизация.
</p>
<p>
    Если вы еще не зарегистрированы, перейдите по ссылке
    @Html.ActionLink("Регистрация", "Register", "Account")<br />
    и зарегистрируйтесь.<br />
    После авторизации вы сможете внести изменения в свою учетную запись.
</p>
<br />
<ul>
    Зарегистрированные на сайте пользователи имеют возможность:
    <li>находить и добавлять друзей (из пользователей, которые<br />уже зарегистрированы на сайте)</li>
    <li>отправлять сообщения друзьям и получать сообщения от них.</li>
</ul>

