﻿@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
        Зачитайлов Сергей, г.Таганрог<br />
        <abbr title="Phone">т.моб.:</abbr>
        8(928) 1599941
</address>

<address>
    <strong>E-mail:</strong> <a href="mailto:zachitaylov-sm@yandex.ru">zachitaylov-sm@yandex.ru</a><br />
</address>