﻿@using Microsoft.AspNet.Identity
@using WebAppMvc.Controllers
@model IList<IQueryable>

@{
    //ViewBag.Title = "Главная";
    string currentUserId = SessionUser.GetValueSessionKey(Session, SessionUser.GetSessionKey(SessionUser.SessionKey.SessionUserKey));
}

<div style="padding: 1px; margin-bottom: 0; text-align: center" class="jumbotron">
    <h2>Мини социальная сеть</h2>
    <p class="lead">
        На сайте Вы можете найти своих друзей (среди пользователей, зарегистрированных<br />
        на сайте), отправлять сообщения друзьям и получать сообщения от них.
    </p>
</div>

@if ((Request.IsAuthenticated) && !string.IsNullOrWhiteSpace(currentUserId))
{
    <div class="row">
        <div style="text-align: center" class="col-md-3">
            <h4>Мои друзья</h4>
        </div>
        <div style="text-align: center" class="col-md-6">
            <h4>Наши сообщения</h4>
        </div>
        <div style="text-align: left; padding-bottom: 10px; padding-left: 0; padding-right: 5px" class="col-md-3">
            @Html.Partial("_SearchPartial", new WebAppMvc.Models.FindPeopleViewModel() { SearchPeople = string.Empty })
        </div>
    </div>
    <hr style="border-color: #82b4d8; width: 100%; margin: 0" />
    <div class="row">
        <div id="idMyFriends" style="text-align: left; overflow-y: auto; height: 390px" class="col-md-3">
            @if ((Model != null) && (Model.Count >= 2) && (Model.ElementAt(1) != null))
            {
                @Html.Partial("_FriendsPartial", Model.ElementAt(1))
            }
            else
            {
                <h4>&nbsp;</h4>
            }
        </div>
        <div id="idFriendsMessages" style="text-align: center; overflow-y: auto; margin-top: 10px; height: 390px" class="col-md-6">
            @if ((Model != null) && (Model.Count >= 3) && (Model.ElementAt(2) != null))
            {
                @Html.Partial("_MessagesPartial", Model.ElementAt(2))
            }
            else
            {
                <h4>&nbsp;</h4>
            }
        </div>
        <div id="idFindPeople" style="text-align: left; overflow-y: auto; height: 390px" class="col-md-3">
            @if ((Model != null) && (Model.Count >= 1) && (Model.ElementAt(0) != null))
            {
                @Html.Partial("_PeoplePartial", Model.ElementAt(0))
            }
            else
            {
                <h4>&nbsp;</h4>
            }
        </div>
    </div>
}
else
{
    <h4>Вы должны авторизоваться.</h4>
}

<script type="text/javascript">

    if (exists_jQuery) {
        $(document).ready(function () {
            scrollToMarkerById('#idFriendsMessages', '#idBtnUpdate');
        })
    }
    else {
        alert("jQuery не доступен ('jQuery' - определение отсутствует)");
    }

    var funcUpdMyFriends = function (data, status) {
        var result = false;
        try {
            ExceptionIfNotExist_jQuery();
            if (status == "success") {
                if ((typeof (data) == 'string') && (data.length > 0)) {
                    var dataUpdate = $(data).find('#idMyFriendsPartial');
                    var selfUpdate = $('#idMyFriends');
                    if ((selfUpdate) && (dataUpdate) && (dataUpdate.length == 1)) {
                        selfUpdate.html(dataUpdate[0]);
                        //
                        scrollToMarkerById('#idFriendsMessages', '#idBtnUpdate');
                        //
                        result = true;
                    }
                }
            }
        }
        catch (e) {
            alert('funcUpdMyFriends:\r\n' + e.message);
        }
        return result;
    }

    var funcUpdMessages = function (data, status) {
        var result = false;
        try {
            ExceptionIfNotExist_jQuery();
            if (status == "success") {
                if ((typeof (data) == 'string') && (data.length > 0)) {
                    var dataUpdate = $(data).find('#idFriendsMessagesPartial');
                    var selfUpdate = $('#idFriendsMessages');
                    if ((selfUpdate) && (dataUpdate) && (dataUpdate.length == 1)) {
                        selfUpdate.html(dataUpdate[0]);
                        //
                        scrollToMarkerById('#idFriendsMessages', '#idBtnUpdate');
                        //
                        updateControlAjaxGET('#idMyFriends',
                                             '/Home/_FriendsPartial', null,
                                             funcUpdMyFriends);
                        result = true;
                    }
                }
            }
        }
        catch (e) {
            alert('funcUpdMessages:\r\n' + e.message);
        }
        return result;
    }

</script>
