﻿@using Microsoft.AspNet.Identity
@using WebAppMvc.Controllers
@model WebAppMvc.Models.ManageUserViewModel

@{
    string currentUserFullName = SessionUser.GetValueSessionKey(Session, SessionUser.GetSessionKey(SessionUser.SessionKey.SessionUserFullNameKey));
    string currentUser = User.Identity.GetUserName() + (!string.IsNullOrWhiteSpace(currentUserFullName)?" (" + currentUserFullName + ")":string.Empty);
}

<p>Вы вошли как <strong>@currentUser</strong>.</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Форма для изменения пароля</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Изменить пароль" class="btn btn-default" />
        </div>
    </div>
}
