﻿@using Microsoft.Owin.Security

<h4>Использовать другой сервис для входа.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>
                Необходимо настроить службы внешней аутентификации данного ASP.NET приложения
                для поддержки входа в систему посредством внешних сервисов.
            </p>
        </div>
    }
    else
    {
        string action = Model.Action;
        string returnUrl = Model.ReturnUrl;
        using (Html.BeginForm(action, "Account", new { ReturnUrl = returnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Войти используя ваш @p.Caption аккаунт">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
