﻿@using Microsoft.AspNet.Identity
@using WebAppMvc.Controllers

@{
    string currentUserId = SessionUser.GetValueSessionKey(Session, SessionUser.GetSessionKey(SessionUser.SessionKey.SessionUserKey));
    string currentUserFullName = SessionUser.GetValueSessionKey(Session, SessionUser.GetSessionKey(SessionUser.SessionKey.SessionUserFullNameKey));
    string currentUser = (!string.IsNullOrWhiteSpace(currentUserFullName) ? currentUserFullName : User.Identity.GetUserName());
}

@if ((Request.IsAuthenticated) && !string.IsNullOrWhiteSpace(currentUserId))
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Главная", "Index", "Home")</li>
        <li>
            @Html.ActionLink("Добро пожаловать: " + currentUser, "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Ваш профиль" })
        </li>
        <li><a href="javascript:if(confirm('Вы уже уходите, так быстро?')){document.getElementById('logoutForm').submit();}">Выйти</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
