﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Контент страницы не доступен";
}

<h4>@ViewBag.Title</h4>
<div class="text-danger">
    <ul>
        Попробуйте следующее:
        <li>Обновить страницу.</li>
        <li>Повторно зайти на эту страницу c гланной страницы сайта.</li>
    </ul>
</div>
<p>
    Если вышеперечисленные действия не могут вам помочь,<br />
    перейдите по ссылке @Html.ActionLink("Контакты", "Contact", "Home")
    и обратитесь в поддержку.
</p>
